.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-family: "Mulish", sans-serif;
  margin: 0 80px;
}

/* City card */

.city-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 105px 95px;
  background-image: url("img/location-bg.png");
  background-size: cover;
  border-radius: 30px;
  position: relative;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 88px;
}

.city-info {
  background: rgba(236, 236, 236, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 30px;
  padding: 32px 56px;
  font-weight: 300;
  font-size: 96px;
  line-height: 120px;
  }

.city-text {
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
}

.city-time {
  /* max-width: min-content; */
  background: rgba(236, 236, 236, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 30px;
  padding: 24px 56px;
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
  white-space: nowrap;
}

.star-icon {
  position: absolute;
  right: 30px;
  top: 20px;
}

/* Hour forecast */

.hour-forecast {
  margin-bottom: 88px;
  width: 100%;
  background: #627d95;
  border-radius: 30px;
  padding: 40px 72px;
}

.hour-forecast-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
}

.hour-forecast-title img {
  margin: 0 10px;
}

.hour-forecast-items {
  display: flex;
  justify-content: space-around;
}

.hour-forecast-item-icon {
  padding: 44px 29px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(236, 236, 236, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 30px;
}

.hour-forecast-item-icon div {
  margin-top: 24px;
}

.hour-forecast-item-text {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 20px;
}

/* Details cards */

.details {
  margin-bottom: 88px;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 24% 24% 24% 24%;
  grid-template-rows: 1fr 1fr;
  grid-gap: 3% calc(4%/3);
}

.details-item {
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-image: url("img/details-bg.png");
  background-position: center;
  background-size: cover;
}

.details-item-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  margin-top: 15%;
}

.details-item-title img {
  margin-right: 10px;
}

.details-item-main {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
  margin-top: 5%;
}

.details-item-text {
  font-family: "Mulish", sans-serif;
  font-weight: 200;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin-top: 8%;
}

/* Compass */

.compass-wrapper {
  position: relative;
  height: 230px;
}

.compass-ellipse {
  height: 230px;
}

.compass-top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -40%);
}

.compass-bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.compass-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.compass-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.compass-letter {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: "Mulish";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.compass-south {
  top: 10%;
  left: 50%;
}

.compass-north {
  top: 90%;
  left: 50%;
}

.compass-west {
  top: 50%;
  left: 10%;
}

.compass-east {
  top: 50%;
  right: 3%;
}

.compass-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

.compass-wind {
  position: absolute;
  top: 50%;
  left: 50%;

  /* ! Rotate wind direction there */
  transform: translate(-50%, -50%) rotate(45deg);
}

.compass-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.compass-arrow-back {
  height: 46px;
  transform: translateY(240%) rotate(-135deg);
  position: absolute;
}

.compass-arrow-front {
  height: 46px;
  transform: translateY(-200%) rotate(-135deg);
}

/* UV-index */

.uv-index-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uv-index-text {
  font-family: "Mulish";
  font-weight: 300;
  font-size: 40px;
  line-height: 50px;
  text-align: start;
}

.uv-index-grade {
  position: relative;
  margin-top: 40px;
  height: 3vw;
  width: 17vw;
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    #68d548 0%,
    #91d83e 12.5%,
    #c4d316 21.88%,
    #e8d807 32.81%,
    #f9c301 44.27%,
    #f6a90b 52.6%,
    #fb7f29 61.46%,
    #f9692f 72.92%,
    #f54550 80.73%,
    #d34bb7 88.02%,
    #d255cd 97.4%,
    #b860da 97.41%
  );
}

.uv-index-grade-dot {
  position: absolute;
  transform: translateY(-50%);

  /* ! Move UV index dot there */
  left: 0%;

  top: 50%;
  height: 2vw;
  width: 2vw;
  border-radius: 2vw;
  background: rgba(255, 255, 255, 0.7);
}

/* Sunrise time */

.sunrise-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: -50px;
}

.sunrise-curved {
  width: 100%;
}

.sunrise-straight {
  position: absolute;

  /* ! Move sunrise line there */
  top: 50%;

  width: 100%;
  height: 1px;
  border-top: 1px solid #d9d9d9;
}

/* pressure */

.pressure-wrapper {
  position: relative;
  height: 230px;
  margin: -5% 0 -15%;
}

.pressure-arrow-wrapper {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 65%;
  left: 50%;

  /* ! Rotate pressure level arrow there */
  transform: translate(-50%, -50%) rotate(45deg);
}

.pressure-arrow {
  position: absolute;

  height: 73px;
  transform: translate(-50%, -63%) rotate(320deg);
}

.pressure-ellipse {
  height: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Graphs */

.graph {
  position: relative;
  margin-bottom: 88px;
  padding: 40px 0 72px;
  width: 100%;
  background: #9fbed4;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.graph-header {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
}

.graph-title {
  white-space: nowrap;
  font-size: 36px;
  line-height: 45px;
  display: flex;
  align-items: center;
}

.graph-title img {
  margin-right: 10px;
}
/* Switcher */
.graph-switcher {
  position: absolute;
  right: 50px;
  display: flex;
  justify-content: space-around;
  border-radius: 30px;
}

.graph-switcher-icon {
  padding: 10px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #6596b9;
}

.graph-switcher-icon:first-child {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.graph-switcher-icon:last-child {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.graph-switcher-icon:not(first-child) {
  border-left: none;
}

.graph-switcher-icon img {
  filter: invert(62%) sepia(13%) saturate(1192%) hue-rotate(162deg) brightness(88%) contrast(89%);
}

.graph-switcher-icon-active {
  background-color: #6596b9;
}

.graph-switcher-icon-active img {
  filter: invert(0%) sepia(76%) saturate(0%) hue-rotate(2deg) brightness(110%) contrast(101%);
}

.graph-tooltip {
  max-width: 205px;
  background: #fff;
  border-radius: 30px;
  color: #000;
  font-family: "Mulish", sans-serif;
  padding: 40px 25px;

  position: absolute;
  left: 0;
  top: 50%;
}

.graph-tooltip-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 600;
}

.graph-tooltip-title img {
  height: 40px;
}

.graph-tooltip-text {
  font-size: 16px;
}

.graph-tooltip-text span {
  color: #9c9c9c;
}

.graph-tooltip-body {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

.graph-tooltip-body div {
  margin-top: 10px;
}

.graph-img {
  height: 60vh;
}

.graph-img img {
  height: 100%;
}

.graph-tooltip-grade {
  position: relative;
  height: 18px;
  width: 100%;
  background: linear-gradient(
    90deg,
    #68d548 0%,
    #91d83e 12.5%,
    #c4d316 21.88%,
    #e8d807 32.81%,
    #f9c301 44.27%,
    #f6a90b 52.6%,
    #fb7f29 61.46%,
    #f9692f 72.92%,
    #f54550 80.73%,
    #d34bb7 88.02%,
    #d255cd 97.4%,
    #b860da 97.41%
  );
  border-radius: 30px;
  margin-bottom: 16px;
}

.graph-tooltip-grade-dot {
  position: absolute;
  top: 50%;
  left: 90%;
  height: 14px;
  width: 14px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.7);
  transform: translateY(-50%);
}
