/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif; 
*/

body {
  background-color: #000;
  background-image: url("background.svg");
}
.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(50px);
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 868px;

  background: #262626;
  border-radius: 30px;
}

.logo {
  margin-bottom: 72px;
}

.switcher {
  position: relative;
  display: flex;
  width: 446px;
  margin-bottom: 62px;
}

.switcher-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  width: 50%;
  text-align: center;
  padding-bottom: 16px;
  cursor: pointer;
}

.switcher::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -13px;
  width: 50%;
  height: 13px;
  background: linear-gradient(
    263.9deg,
    #83f2d4 2.81%,
    #3cd9ee 23.9%,
    #3872fc 70.86%,
    #4359ff 94.82%
  );
  border-radius: 30px;
  /* transform: translateX(100%); */
}

.switcher::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6.5px;
  width: 100%;
  height: 1px;
  background: #0185ff;
  border-radius: 30px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.input {
  background-color: transparent;
  width: 500px;
  border-radius: 30px;
  border: 1px solid #0185ff;
  padding: 24px 34px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.input:not(:last-child) {
  margin-bottom: 32px;
}

.input:focus {
  outline: none;
}

.btn {
  padding: 17px 105px;
  margin-bottom: -30px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(263.93deg, #0185ff 7.17%, #076ac6 94.81%);
  border-radius: 30px;
  border: transparent;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}
